*{
    font-family: 'Nunito', sans-serif;
}

body{
    font-family: 'Nequi';
    padding: 0;
    background-color: white;
    margin: 0;
}

.top-bar{
    background-color: #fff;
    text-align: center;
    padding: 8px 0px;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    z-index: 500;
}
.menu-bar{
    background-color:#101C54;
    box-shadow: 0px 4px 7px rgb(105 104 104 / 15%);
    text-align: center;
    padding: 12px 0px;
    position: absolute;
    top: 33;
    left:0;
    width:100%;
    z-index: 510;
}



.item-menu{
    font-weight: 400;
    color: #ffffff;    
    letter-spacing: 0.48px;
    padding: 0px 14px;
    font-size: 16px;
    cursor: pointer;
}


.top-menu{
    color: #484848;
    font-size: 13px;
    letter-spacing: 0.4px;    
    padding: 0px 10px;
}

.footer{
    background-color: #002D7C;
    border-top: 1px solid #E5E5E5;
    padding-top: 40px;
}

.franja-verde{
    background-color: #009A44;
    height: 5px;
}

.separador{
    background-color: #FFC72C;
    height: 2px;
    width: 50px;   
}
.titulo-footer{
    font-size: 15px;
    color:#fff;
    font-weight: 600;
     letter-spacing: 0.7px;
     padding-bottom:8px;
}

.menu-footer{
    font-size: 13px;
    color: #B3C0D8;
    letter-spacing: 0.4px;
    font-weight: 400;
    padding: 8px 0px;
    cursor: pointer;
}
.menu-footer:hover{
    color: #fff;
}

.item-copy{
    font-size: 12px;
    font-weight: 400;
    color: #B3C0D8;
    line-height: 13px;
}

.separador-vertical{
    background-color:#E5E5E5;
    width: 2px; 
    height: 14px; 
    margin:0px 4px;
}
.iconos-redes img{
    margin: 0px 4px;
}

#copy-desktop{
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 0px;
    border-top: 1px solid #E5E5E5;
    margin-top: 20px;
}

.item-footer-mob{
    border-top: 1px solid #f1f1f1;
    padding: 17px 0px;
}

#footer-mobile {
    padding: 0px 25px;
    display: none;
}

.content-menu-footer{
    display: none;
}

#copy-mob{
    text-align: center;
    max-width: 514px;
    margin: 0 auto;
    display: none;
}

#btn-menu{
    display: none;
}


#btn-ingresar,#btn-ingresar-in{
    cursor: pointer;
}

.container{
    padding-bottom: 40px;
    text-align: center;
}

.titulo-principal {
    color: #4b4b4b;
    font-size: 28px;
    font-weight: 600;
}

.descripcio-principal {
    font-size: 20px;
    color: #525252;
}

#bienvenida{
    padding: 0px 18px;
    margin: 0 auto;
    max-width: 400px;
}


.frm-modal{
    
    width: 90%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 650;
    background-color: white;
    text-align: center;
}

.frm-modal2{
    width: 90%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 650;
    text-align: center;
}

.frm{
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff;
    width: calc(98% - 60px);
    max-width: 440px;    
    text-align: center;
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,.2);
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
}

#frm-informacion{
    padding: 30px;
}


.titulo {
    font-weight: 600;
    font-size: 18px;
    padding-top: 30px;
}

.descripcion {
    padding: 0px 30px;
    text-align: justify;
    font-size: 16px;
}

.formulario{
    padding: 0px 30px 30px 30px;
}

.entradas{
    color: #000;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.32142857px;
    border-radius: 6px;
    height: 55px;
    border: none;
    background: #ffffff;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    padding: 0 10px 0 20px;
}

.etiqueta{
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 4px;
}

.btn{
    background-color: #DA0081;
    color: #fff;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    padding: 16px;
    cursor: pointer;
    border: 0;
}

.btn:active{
    animation: clickAnimation 0.2s ease-in-out; 
}

.backbutton{
    width: 100%;
    border: 1px solid black;
    background-color: white;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    padding: 16px;
}

@keyframes clickAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

.backbutton:active{
    animation: clickAnimation 0.2s ease-in-out; 
}

.btn:hover{
    background-color: #DA0081;
}

.espacio{
    height: 8px;
}

.error{
    color: #b70f1a;
    font-size: 13px;
    text-align: left;
    display: block;
}

#frm-animacion,#frm-cargando{
    padding: 30px;  
    max-width: 260px; 
    display: none;
}

#frm-verificacion,#frm-autorizar,#frm-otp,#frm-tarjeta{
    display: none;
}

@media (max-width:1214px) {
    .menu-bar{
        padding: 12px 20px;
        width: calc(100% - 40px);
    }


    .top-bar{
        padding: 8px 20px;
        width: calc(100% - 40px);
    }
}



@media (max-width:995px) {
    #footer-desktop,#copy-desktop{
        display: none;
    }

    #footer-mobile,#copy-mob{    
        display: block;
    }
}

@media (max-width:991px) {
    .top-bar,#btn-ingresar,#btn-ingresar-in,.item-menu{
        display: none;
    }

    #btn-menu{
        display: block;
    }

    .menu-bar{
        top: 0;
        position: fixed;        
    }

}

.entradas::placeholder {
    color: #200020;
    font-size: large;
}

@font-face {
        font-family: 'Nequi'; /* Nombre que quieres darle a tu fuente */
        src: url('../fonts/Manrope-VariableFont_wght.woff') format('woff'); 
    }

    /* Usa tu fuente personalizada en elementos específicos */
    body {
        font-family: 'Nequi'; /* Utiliza la fuente personalizada como alternativa */
    }

.keyboard {
    display: grid;
    color: #101C54;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 200px;
    margin: auto;
}

.keyboard div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}






